<mat-toolbar color="accent">
  <a
     routerLink="/">
     
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
       <mat-icon>menu</mat-icon>
     </button>
    
    <span>Electricity Bill Payment </span>
  </a>
    <span class="example-spacer"  ></span>
    <a
    routerLink="/login"
     mat-icon-button class="example-icon favorite-icon " class="marginright" aria-label="Example icon-button with heart icon" >
      Login
    </a>
    <a
    routerLink="/create-electricity-bill"
     mat-icon-button class="example-icon favorite-icon " class="marginright" aria-label="Example icon-button with heart icon" >
      Register
    </a>
    <a
    routerLink="/customer"
     mat-icon-button class="example-icon favorite-icon " class="marginright" aria-label="Example icon-button with heart icon" >
      Customer
    </a>
    <a
    routerLink="/create-connection"
     mat-icon-button class="example-icon favorite-icon " class="marginright" aria-label="Example icon-button with heart icon" >
      Connection
    </a>
  </mat-toolbar>